<h1>更新評論</h1>
<turbo-frame id="<%=dom_id(@comment)%>">
  <%= form_with(model: @comment) do |f| %>
    <%= f.text_area :content, class:"w-full rounded m-2", rows: 3%>
    <%= f.submit value:"Edit comment" , class: "btn text-white"%>
    <%= link_to "Cancel", :back, class:"btn-danger" %>
  <% end %>
</turbo-frame>
