<h1 class="text-h1">All Books</h1>
<hr>
<table>
  <div class="m-3">
    <form action="" name="" >
      <input type="text" placeholder="Book name" name="keyword" class="h-7">
      <input type="submit" value="Search">
    </form>
  </div>
  <thead>
    <tr>
      <th>書名</th>
      <th>作者</th>
      <th>價錢</th>
      <th>查看書籍</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td class="px-2 py-1 border-2 border-solid"><%= book.name %></td>
        <td class="px-2 py-1 border-2 border-solid"><%= book.author %></td>
        <td class="px-2 py-1 border-2 border-solid"><%= book.price %></td>
        <td class="px-2 py-1 text-indigo-700 border-2 border-solid"><%= link_to "Show", book_path(book.slug) %></td>
        <td class="px-2 py-1 text-indigo-700 border-2 border-solid"><%= link_to "Edit", edit_book_path(book.slug) %></td>
        <td class="px-2 py-1 text-indigo-700 border-2 border-solid"><%= link_to "Delete", book_path(book.slug), method: 'delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New book", new_book_path , class: "text-indigo-700 m-2"%>
