<div class="grid grid-cols-12">
  <section class="flex justify-center col-span-8 bg-slate-300 ">
    <div class="mt-10 shadow-xl bg-slate-900 card w-96 h-96" >
      <div class="bg-rose-400">
        <img src="https://picsum.photos/800/500/?random=10" class="w-full">
      </div>
      <article class="p-2">
        <h1 class="m-1 text-2xl font-bold text-slate-50"><%= @book.name %></h1>
        <p class="text-slate-50">
          <%= @book.author %>
          $ <%= @book.price %>
        </p>
      </article>
    </div>
  </section>
  <aside class="col-span-4 p-1 bg-slate-400">
    <h2 class="text-h1">Comments</h2>
    <%# 錯誤訊息 %>
    <% if @comment.errors.present? %>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li class="text-red-600"><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <%# 留下評論 %>
    <%= form_with(model: @comment, url: book_comments_path(@book), data: {controller: 'comment-form'}) do |f| %>
      <%= f.text_area :content, class:"w-full rounded", rows: 3, data: {action: 'input->comment-form#input'}%>
      <%= f.submit value:"Leave a comment" , class: "btn text-white", data:{comment_form_target: 'button'}%>
    <% end %>
    <%# 顯示當前使用者所有的評論 %>
    <div id="comment-list"><%= render partial:'comments/comment', collection: @comments %></div>
  </aside>
</div>
